* {
  margin: 3px;
  padding: 0;
}

.container {
  display: grid;
  height: 99vh;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  /* Adjust width as needed */
  border-radius: 5px;
  /* Rounded corners */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.main-btn {
  width: 80px;
  height: 80px;
}

.myForm {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}