*{
  margin: 3px;
  padding: 0;
}

body {
  color: black;
  background-size: 98%;
  opacity: 92%;
}

dialog {
  position: absolute;
  background: rgb(214, 163, 55);
  padding: 12px;
  max-width: 25ch;
  border: 0;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: grid;
  grid-template-rows: 120px;
  height: 100vh;
  width: 100vw;
}

.boxTitle{
  grid-column: 1 / 5;
  justify-self: center;
}

form button {
  margin: 10px;
}

input {
  margin: 8px;
}

.library {
  display: grid;
  grid-column: 1 / 5;
  grid-row: 2 / 5;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid black;
  width: 99%;
  height: 98%;
}

.library div {
  gap: 10px;
  margin: 10px;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #494949;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}